body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;  /* Sayfa içerik büyüdükçe daha fazla alan kaplar */
  background-image: url('./assets/bg-green.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px; /* Kaydırma çubuğunun genişliği */
}

::-webkit-scrollbar-track {
  background: rgba(225, 8, 8, 0.1); /* Kaydırma çubuğunun arka planı */
  border-radius: 10px; /* Köşeleri yuvarlatır */
}

::-webkit-scrollbar-thumb {
  background: #4CAF50; /* Kaydırma çubuğunun rengi */
  /*border-radius: 10px;  Köşeleri yuvarlatır */
  /*transition: background 0.3s ease; /* Geçiş efekti ekler */
}

::-webkit-scrollbar-thumb:hover {
  background: #45a049; /* Hover durumunda renk değişir */
}

::-webkit-scrollbar-thumb:active {
  background: #388e3c; /* Tıklanma durumunda renk değişir */
}
